<html>
    <head>
        <title>Streambox</title>
        <link rel="stylesheet" href="/style.css" />
    </head>

    <body>
        <div id="chatWindow">
            <div id="chatDisplayWindow">
                <ul id="chatMessages"></ul>
                Hello there... Your chat messages will be displayed here..
            </div>
            <form>
                <div id="streamChatBox" contenteditable="true"></div>
                <input type="button" value="Send" id="sendButton" />
            </form>
            <div style="clear: both;"></div>
        </div>

        <div id="streamWindows">
            <div class="streamVideo">

                <!-- TWITCH STREAM EMBED -->

                <h3 align="center">Twitch</h3>
                <div id="twitchStreamWindow"></div>
            </div>
            <div class="streamVideo">

                <!-- YOUTUBE STREAM EMBED -->

                <h3 align="center">Youtube</h3>
                <div id="youtubeStreamWindow">
                    <iframe
                        width="300"
                        height="300"
                        src="https://www.youtube.com/embed/6YCjZ6D199c"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                    ></iframe>
                </div>
            </div>
        </div>
    </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.2.0/socket.io.min.js"></script>

    <script src="https://embed.twitch.tv/embed/v1.js"></script>

    <script type="text/javascript">
        new Twitch.Embed('twitchStreamWindow', {
            width: 300,
            height: 300,
            channel: 'timecampus',
            layout: 'video'
        });
    </script>

    <script>
        var clearChatBox = function () {
            document.querySelector('#streamChatBox').innerHTML = '';
        };

        window.onload = function () {
            var socket = io('ws://192.168.30.10');
            console.log('Onload here..');
            document.querySelector('#sendButton').onclick = function () {
                var message = document.querySelector('#streamChatBox')
                    .innerHTML;
                console.log(`I typed: ${message}`);

                socket.emit('chat message', message);

                clearChatBox();
            };

            socket.on('myresponse', function (msg) {
                console.log('Message received::', msg);
                document.querySelector(
                    '#chatMessages'
                ).innerHTML += `<div class="chatmsg">${msg}</div>`;
                window.scrollTo(0, document.body.scrollHeight);
            });

            socket.on('incomingmessage', function (msg) {
                console.log('Message received from channel::', msg);
                document.querySelector(
                    '#chatMessages'
                ).innerHTML += `<div class="incomingchatmsg">${msg}</div>`;
                window.scrollTo(0, document.body.scrollHeight);
            });
        };
    </script>
</html>
